ion-toolbar {
  --background: var(--mainBackgroundColor);

  ion-title {
    color: var(--headerLightColor);
    font-weight: 400;
  }
  div {
    justify-content: space-between;

    display: flex;
  }
  ion-icon{
    color: var(--headerLightColor);
    font-size: 1.8em;
    margin-right: 1em;
    cursor: pointer;
  }
}
